/*--------------------------------------------------------------
# General
--------------------------------------------------------------*/

:root {
    --theme-base-color: #C3447A;
}


body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

.d-flex {
    display: flex;
}

.justify-content-center {
    justify-content: center;
}

.justify-content-between {
    justify-content: space-between;
}

.mt-10 {
    margin-top: 10px;
}

.mt-20 {
    margin-top: 20px;
}

.gap-10 {
    gap: 10px;
}

/*--------------------------------------------------------------
# Links Tracker
--------------------------------------------------------------*/

.btn-theme {
    margin: 5px 0;
    padding: 10px 20px;
    font-weight: bold;
}

.btn-theme-outline {
    background-color: white;
    border: 1px solid var(--theme-base-color);
}

#links-list {
    list-style: decimal;
    margin-top: 20px;
    margin-left: -20px;
    color: var(--theme-base-color)
}

#links-list li {
    margin-top: 7px;
    font-size: 17px;
}

#links-list li a {
    color: var(--theme-base-color)
}

#links-list li a:hover {
    font-weight: bold;
}

#link-input {
    width: 95%;
    margin-right: 10px;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--theme-base-color);
}

#delete-all-links-btn, #copy-all-links-btn:hover, #save-link-btn:hover, #save-current-link-btn:hover {
    background-color: white;
    border: 1px solid var(--theme-base-color);
    color: var(--theme-base-color)
}

#save-link-btn, #save-current-link-btn, #copy-all-links-btn, #delete-all-links-btn:hover {
    background-color: var(--theme-base-color);
    color: white;
    border: none;
}