:root {
    --theme-base-color: #C3447A;
}


body {
    margin: 0;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    min-width: 400px;
}

#links-tracker input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid var(--theme-base-color)
}

#links-tracker button {
    background-color: var(--theme-base-color);
    color: white;
    margin: 5px 0;
    padding: 10px 20px;
    border: none;
    font-weight: bold;
}

#links-tracker li{
    margin-top: 5px;
}

#links-tracker li a{
    color: var(--theme-base-color)
}

#links-tracker li a:hover{
    font-weight: bold;
}